.product-title {
  font-weight: 700;
}

.details {
  color: var(--subtitle-color);
  margin-bottom: 30px;
}

.break-line {
  height: 1px;
  width: auto;
  background-color: rgba(80, 80, 80, 0.788);
  opacity: 30%;
}

.functios-btn {
  display: flex;
  margin: 5px;
  /* border-radius: 0.375rem !important;
  background-color: red; */
}

.quantity {
  display: flex;
  padding-right: 10px;
}

.quantity .fix {
  font-size: 22px;
  border: 1px solid rgba(83, 83, 83, 0.315);
  width: 50px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quantity .fix:hover {
  border: 1px solid rgba(0, 0, 0, 0.315);
}

.btn-buy {
  /* padding-right: 10px; */
  margin-right: 10px;
}

.btn-buy button {
  height: 45px;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn-buy button:hover {
  height: 45px;
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.button-buy {
  display: flex;
  justify-content: center;
  align-items: center;
}


.favorite {
  border: 1px solid rgba(83, 83, 83, 0.315);
  border-radius: 0.375rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3em;
  height: 45px;
  font-size: larger;
}

.favorite:hover {
  color: yellow;
  border: 1px solid yellow;
}

.btn-cart {
  margin: 10px;
}

.btn-cart button {
  height: 45px;
  width: auto;
  background-color: white;
  color: var(--secondary-color);
  border-color: var(--secondary-color-color);
}

.btn-cart button:hover {
  height: 45px;
  color: white;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 13em;
  display: flex;
  justify-content: center;
}

.cart-modal {
  display: flex;
  justify-content: flex-end;
}

.img-cart {
  height: auto;
  width: 97%;
}

.media {
  display: flex;
  /* border: 1px solid rgba(0, 0, 0, 0.432); */
  width: 97%;
}

.media-body h5 {
  margin-bottom: 100px;
}

.card-details {
  display: flex;
  justify-content: space-between;
  margin: 0px 3px 0px 0px;
}

.title-card {
  font-weight: 600;
}

.ajust-value {
  margin-right: 12em;
}

.card-title {
  margin: 0px 0px 80px 0px;
  font-size: inherit;
}

.resume-list ul {
  list-style-type: none;
  /* Remove bullets */
  padding: 0;
  /* Remove padding */
  margin: 0;
  /* Remove margins */
}

@media screen and (min-width: 768px) {
  .img-cart {
    height: auto;
    width: 35%;
  }

  .media {
    display: flex;
    /* border: 1px solid rgba(0, 0, 0, 0.432); */
    width: 97%;
  }

  .media-body h5 {
    margin-bottom: 100px;
  }

  .card-details {
    display: flex;
    justify-content: space-between;
    margin: 0px 3px 0px 0px;
  }

  .ajust-value {
    margin-right: 12em;
  }

  .card-title {
    margin: 0px 0px 30% 0px;
    font-size: inherit;
  }

  .card-body p {
    font-size: 14px;
  }

}

@media screen and (max-width: 768px) {
  .img-fluid {
    max-width: 105%;
    height: auto;
  }

  .ajust-value {
    margin-right: 9em;
  }

  .card-title {
    margin: 0px 0px 20% 0px;
  }
}

@media screen and (max-width: 585px) {
  .card-title {
    margin: 0px 0px 20% 0px;
    font-size: 14px;
  }
}

@media screen and (max-width: 474px) {
  .card-title {
    margin: 0px 0px 20% 0px;
    font-size: 11px;
  }

  .card-text {
    font-size: 13px;
  }

  .car-body {
    background-color: red;
    padding: 11px;
  }
}

@media screen and (max-width: 391px) {
  .card-title {
    margin: 0px 0px 12% 0px;
    font-size: 10px;
  }

  .card-text {
    font-size: 9px
  }
}
