<div class="container" *ngIf="animal$ | async as animal">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-5">
      <app-animal
        [url]="animal.url"
        [descricao]="animal.description"
      ></app-animal>
    </div>
    <div class="col-lg-6 col-md-6">
      <div class="produt-details p-1">
        <h5 class="product-title">
          CX. SEDA LION ROLLING CIRCUS 1 1/4 BLOODY STRAWBERRY
          <!-- {{ product.title }} -->
        </h5>
        <p class="subtile pt-3">
          Caixa de Papel para Enrolar - Branqueado
          <!-- {{ product.detail }} -->
        </p>
        <p class="details" style="color: var(--subtitle-color)">
          25 Livretos<br />
          Marca - <strong>LION</strong><br />
          Modelo -<strong>PEQUENA SLIM (75 x 44)</strong>
        </p>
        <div class="break-line"></div>

        <div class="pt-4">
          <h4 class="value">
            R$276,00
            <!-- {{ product.value }} -->
          </h4>
        </div>

        <div class="functios-btn pt-3 pb-1">
          <div class="quantity">
            <!-- <div class="less fix">-</div> -->
            <button class="less fix" (click)="decrement()">-</button>
            <div class="num fix">{{ counter }}</div>
            <!-- <div class="more fix">+</div> -->
            <button class="more fix" (click)="increment()">+</button>
          </div>
          <div class="btn-buy" >
            <!-- (click)="cart.abreCarrinho()" -->
            <button
            class="btn btn-primary button-buy"
            (click)="goToCart()"
            >
              Comprar
          </button>
          </div>
          <!-- <a class="button-buy" href="https://mpago.la/2Er83xj">Comprar</a> -->
          <div class="favorite">
            <i class="fa-regular fa-star"></i>
          </div>
        </div>
      </div>

      <!-- - finalizar compra -->
      <!-- - o finaliar compra levará até a tela do carrinho pra concluir -->
      <div class="btn-cart pb-4">
        <!-- data-bs-toggle="modal"
        data-bs-target="#exampleModal" -->
        <button
          class="btn btn-primary"
          (click)="getProducts()"
        >
          > Adicionar ao carrinho
          <i class="fa-regular fa-cart-shopping"></i>

          <!-- <i class="fa-light fa-cart-shopping"></i> -->
        </button>
      </div>

      <div class="break-line"></div>
    </div>
<!--
    <app-menu-cart [items]="items">

    </app-menu-cart> -->

    <!-- Adiciona ao carrinho no canto superior direito
    e abre o modal de 'added to cart succesfully!' -->

    <!-- dentro do modal terá o aviso de sucesso e dois botões:
    - continuar comprando
          - o continuar levará de volta para a grade de produtos

    // FICHA TECNICA -->
    <div class="accordion pt-5" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button
            class="accordion-button"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseOne"
            aria-expanded="true"
            aria-controls="collapseOne"
          >
            Detalhes
          </button>
        </h2>
        <div
          id="collapseOne"
          class="accordion-collapse collapse show"
          aria-labelledby="headingOne"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            CX. SEDA LION ROLLING CIRCUS 1 1/4 BLOODY STRAWBERRY
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseTwo"
            aria-expanded="false"
            aria-controls="collapseTwo"
          >
            Mais informações
          </button>
        </h2>
        <div
          id="collapseTwo"
          class="accordion-collapse collapse show"
          aria-labelledby="headingTwo"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            <strong>This is the second item's accordion body.</strong> It is
            hidden by default, until the collapse plugin adds the appropriate
            classes that we use to style each element. These classes control the
            overall appearance, as well as the showing and hiding via CSS
            transitions. You can modify any of this with custom CSS or
            overriding our default variables. It's also worth noting that just
            about any HTML can go within the <code>.accordion-body</code>,
            though the transition does limit overflow.
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">
              Carrinho de compras
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">...</div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Carrinho de compras -->
<!-- <app-menu-cart #menu> -->
  <!-- <div class="row" style="display: flex; justify-content: space-between;">
    <div>
      <h5 class="product-title pb-3 pt-2" style="font-size: xx-large">
        SEU CARRINHO
      </h5>

      <p class="details pb-2" style="margin: 0px 0px 0px 0px">
        TOTAL (5 produtos) R$1.379,95
      </p>
      <p class="details">
        Os itens do seu carrinho não estão reservados. Finalize esta compra para
        torná-los seus itens pessoais.
      </p>
    </div>

    <div class="card mb-3 col-md-12 col-lg-12" style="max-width: 540px; padding: inherit;">
      <div id="card-ajust" class="row g-0">
        <div class="col-3 col-xs-4 col-md-4">
          <img
            src="/assets/img/home.jpg"
            class="img-fluid rounded-start"
            alt="..."
          />
        </div>
        <div class="col-9 col-xs-8 col-md-8">
          <div class="card-body" style="padding: 10px;">
            <h5 class="card-title">CX. SEDA LION ROLLING CIRCUS 1 1/4 BLOODY </h5>
            <p class="card-text">
              <small class="text-muted"
                ><strong class="ajust-value">Valor: R$269,00</strong>
                <strong>Quantidade: 2</strong>
              </small>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 resume-list">
      <ul>
        <li>
          <h4 class="product-title">Resumo do pedido</h4>
        </li>
        <li>
          <p>5 Pordutos</p>
        </li>
        <div class="break-line"></div>
        <li class="pb-3">Total: R$1000</li>
      </ul>
    </div>
  </div>

</app-menu-cart> -->

<!--
<ul class="navbar-nav cart-items" *ngIf="items().length">
  <li class="nav-item" *ngFor="let product of items()">
    <div class="media">
      <img class="img-thumb" src="{{product.images[0]}}" onError="this.src='/assets/img/no-img.jpg';" alt="{{product.name}}">
      <div class="media-body">
        <h5 class="mt-0">{{product.name}} </h5>
        <span>{{product.price.installments}}x de {{product.price.installmentValue | currency: 'BRL': true}}</span>
        <span>ou R$ {{product.price.value | currency: 'BRL': true}} à vista</span>
      </div>
      <span class="remove-item" (click)="removeItem(product)">x</span>
    </div>
  </li>
  <li class="total-cart text-right">
    <p>subtotal</p>
    <span id="sub-ins">em {{installments()}}x {{totalIns() | currency: 'BRL': true}}</span>
    <span id="sub-cash">ou {{total() | currency: 'BRL': true}} à vista</span>
  </li>
</ul>
<ul class="navbar-nav cart-items" *ngIf="items().length == 0">
  <li class="nav-item">
    Seu carrinho está vazio :/
  </li>
</ul> -->
