<div class="container" *ngIf="animal$ | async as animal">
  <div class="row">
    <div class="col-lg-5">
      <app-animal
        [url]="animal.url"
        [descricao]="animal.description"
      ></app-animal>
    </div>
    <div class="col-lg-6">
      <div class="produt-details p-1">
        <h5 class="product-title">
          CX. SEDA LION ROLLING CIRCUS 1 1/4 BLOODY STRAWBERRY
          <!-- {{ product.title }} -->
        </h5>
        <p class="subtile pt-3">
          Caixa de Papel para Enrolar - Branqueado
          <!-- {{ product.detail }} -->
        </p>
        <p class="details" style="color: var(--subtitle-color)">
          25 Livretos<br />
          Marca - <strong>LION</strong><br />
          Modelo -<strong>PEQUENA SLIM (75 x 44)</strong>
        </p>
        <div class="break-line"></div>

        <div class="pt-4">
          <h4 class="value">
            R$276,00
            <!-- {{ product.value }} -->
          </h4>
        </div>

        <div class="functios-btn pt-3 pb-1">
          <div class="quantity">
            <div class="less fix">-</div>
            <div class="num fix">2</div>
            <div class="more fix">+</div>
          </div>
          <div class="btn-buy" style="padding: 0px 0px 0px 0px">
            <!-- <button class="btn btn-primary" >Comprar</button> -->
            <a class="button-buy" href="https://mpago.la/2Er83xj">Comprar</a>
          </div>
          <div class="favorite">
            <i class="fa-regular fa-star"></i>
          </div>
        </div>
      </div>

      <div class="btn-cart pb-4">
        <button class="btn btn-primary">
          Adicionar ao carrinho <i class="fa-light fa-cart-shopping"></i>
        </button>
      </div>

      <a class="navbar-brand" style="color: rgb(4, 236, 4)">
        <i
          class="fa fa-bars mr-2"
          (click)="menu.abreMenu()"
          (keyup.space)="menu.abreMenu()"
        >
        </i>
        Weed Store
      </a>

      <app-menu-cart #menu>
        <p>teste</p>
      </app-menu-cart>

      <div class="break-line"></div>
    </div>

    <!-- // FICHA TECNICA -->
    <div class="accordion col-md-5 pt-5" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button
            class="accordion-button"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseOne"
            aria-expanded="true"
            aria-controls="collapseOne"
          >
            Detalhes
          </button>
        </h2>
        <div
          id="collapseOne"
          class="accordion-collapse collapse show"
          aria-labelledby="headingOne"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            CX. SEDA LION ROLLING CIRCUS 1 1/4 BLOODY STRAWBERRY
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseTwo"
            aria-expanded="false"
            aria-controls="collapseTwo"
          >
            Mais informações
          </button>
        </h2>
        <div
          id="collapseTwo"
          class="accordion-collapse collapse show"
          aria-labelledby="headingTwo"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            <strong>This is the second item's accordion body.</strong> It is
            hidden by default, until the collapse plugin adds the appropriate
            classes that we use to style each element. These classes control the
            overall appearance, as well as the showing and hiding via CSS
            transitions. You can modify any of this with custom CSS or
            overriding our default variables. It's also worth noting that just
            about any HTML can go within the <code>.accordion-body</code>,
            though the transition does limit overflow.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
