.product-title {
  font-weight: 700;
}
.details {
  color: var(--subtitle-color);
  margin-bottom: 30px;
}

.break-line {
  height: 1px;
  width: auto;
  background-color: rgba(80, 80, 80, 0.788);
  opacity: 30%;
}

.functios-btn {
  display: flex;
  margin: 5px;
  /* border-radius: 0.375rem !important;
  background-color: red; */
}

.quantity {
  display: flex;
  padding-right: 10px;
}

.quantity .fix {
  font-size: 22px;
  border: 1px solid rgba(83, 83, 83, 0.315);
  width: 50px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quantity .fix:hover {
  border: 1px solid rgba(0, 0, 0, 0.315);
}

.btn-buy {
  /* padding-right: 10px; */
  margin-right: 10px;
}
.btn-buy button {
  height: 45px;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn-buy button:hover {
  height: 45px;
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}



.favorite {
  border: 1px solid rgba(83, 83, 83, 0.315);
  border-radius: 0.375rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3em;
  height: 45px;
  font-size: larger;
}

.favorite:hover {
  color: yellow;
  border: 1px solid yellow;
}
.btn-cart {
  margin: 10px;
}
.btn-cart button {
  height: 45px;
  width: auto;
  background-color: white;
  color: var(--secondary-color);
  border-color: var(--secondary-color-color);
}

.btn-cart button:hover {
  height: 45px;
  color: white;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

