<header class="sticky-top">
  <nav class="navbar navbar-light bg-white">
    <a class="navbar-brand">
      <i
        class="fa fa-bars mr-2 pt-3"
        (click)="menu.abreMenu()"
        (keyup.space)="menu.abreMenu()"
      >
      </i>
      <div class="img-fluid logo">
        <img src="assets/logo 3.png" alt="" />
      </div>
    </a>

    <app-menu #menu>
      <ul class="list-unstyled">
        <li>
          <a href="#sobre" (click)="menu.abreMenu()">Quem somos</a>
        </li>
        <li>
          <a href="#features" (click)="menu.abreMenu()">O que fazemos</a>
        </li>
        <li>
          <a href="#testimonials" (click)="menu.abreMenu()"
            >O que acham de nós</a
          >
        </li>
      </ul>
    </app-menu>

    <!-- <div *ngIf="user$ | async as user">
      <div *ngIf="user.name; else login">
        <i class="fa fa-user-circle mr-1"> </i>
        <a class="mr-1">{{ user.name }}</a>
        <a (click)="logout()">Logout</a>
      </div>
    </div> -->
  </nav>

  <!-- <ng-template #login>
    <span class="navbar-text">
      <a [routerLink]="['']">Login</a>
    </span>
  </ng-template> -->
</header>
