<div class="functios-btn pt-1 pb-2">
  <div class="favorite">
    <i class="fa-regular fa-star"></i>
  </div>

  <ng-content></ng-content>

  <div class="favorite">
    <i class="fa-regular fa-star"></i>
  </div>
</div>
<!-- <div class="functios-btn pt-1 pb-2">
  <div
    class="favorite"
    (mouseover)="show = true"
    (mouseleave)="show = false"
    [ngStyle]="{ display: show == true ? 'inline-flex' : 'none' }"
  >
    <i class="fa-regular fa-star"></i>
  </div>
  <div
    class="favorite"
    (mouseover)="show = true"
    (mouseleave)="show = false"
    [ngStyle]="{ display: show == true ? 'inline-flex' : 'none' }"
  >
    <i class="fa-regular fa-star"></i>
  </div>
</div> -->
