<body>
  <p class="text-center text-muted" *ngIf="!animais.length">
    Desculpe não há animais
  </p>

  <div class="row">
    <div *ngFor="let animal of animais" class="col-6 col-sm-6 col-md-3">
      <app-cartao>
        <a [routerLink]="['/animais', animal.id]">
          <app-animal
          class="efeito"
            [url]="animal.url"
            [descricao]="animal.description"
          ></app-animal>
        </a>
        <h6 class="subtile">CX. SEDA LION ROLLING CIRCUS 1 1/4 BLOODY</h6>
        <!-- {{ product.title }} -->

        <h4 class="value" style="font-size: large" align="center">
          R$276,00
          <!-- {{ product.value }} -->
        </h4>

        <app-buy-button>
          <div class="btn-buy">
            <a
              class="button-buy"
              [routerLink]="['/animais', animal.id]"
              (mouseover)="show = true"
              (mouseleave)="show = false"
              >Comprar</a
            >
          </div>
        </app-buy-button>
      </app-cartao>
      <!-- <div class="align-div ml-1 mb-2">
      <textarea
        name="commentary"
        id="commentary"
        width="100%"
        rows="2"
        cols="44"
        placeholder="Escreva um comentario"
        textarea
        style="resize: none"
      ></textarea>
      <button class="btn-align btn btn-primary ml-2">Enviar</button>
    </div> -->
    </div>
  </div>
</body>
