  body {
    overflow-x: hidden;
    background-color: rgb(243, 243, 243);
    padding: 1em;
  }

  .align-div {
    display: flex;
  }

  .align-div textarea {
    border-radius: 3px;
  }

  .like-btn-change {
    color: red;
  }

  
