::-webkit-scrollbar {
  width: 0px;
}
.menu-bar {
  position: fixed;
  height: 100%;
  width: 90%;
  margin: 0;
  padding: 4em 0em 0em 1em;
  background: white;
  top: 0;
  right: -90%;
  transition: left 0.3s ease-out;
  z-index: 1;
}

.active-menu .menu-bar {
  right: 0;
  width: 100%;
  overflow-y: scroll;
}

.active-menu .overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
}
.product-title {
  font-weight: 700;
}
.details {
  color: var(--subtitle-color);
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .menu-bar {
    position: fixed;
    height: 100%;
    width: 90%;
    max-width: 100%;
    margin: 0;
    padding: 4em 0em 0em 2em;
    background: white;
    top: 0%;
    /* left: 0%; */
    /* right: -90%; */
    transition: left 0.3s ease-out;
    z-index: 1;
  }

  .active-menu .menu-bar {
    right: 0;
    width: 100%;
    overflow-y: scroll;
  }

  .active-menu .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
  }
}
